<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Preview</title>
    <link rel="stylesheet" href="css/styleNavbar.css">
    <link rel="stylesheet" href="css/stylePreviews.css">
</head>
<body>
    <header>
        <div class="content">
            <div class="menu conteiner">
                <a href="#" class="logo">Easy Portfolio</a>
                <input type="checkbox" id="menu">
                <label for="menu">
                    <img src="images/menu.png" class="menu-icon" alt="logo">
                </label>
                <nav class="navbar">
                    <ul>
                        <li><a href="#">Inicio</a></li>
                        <li><a href="#">Iniciar Sesion</a></li>
                        <li><a href="#">Sobre nosotros</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <main class="mainConteiner">
        <div class="contentBox">
            <div class="portTittles">
                <div class="tittles">
                    <h2 class="portName">Name</h2>
                    <h4 class="portSubtittle">Subtittle</h4>
                </div>
                <img src="images/userImage.png" alt="User Image" class="portImage">
            </div>
            <div class="boxesConteiner">
                <div class="portSkills">
                    <h1 class="sectionTittle">Skills:</h1>
                    <ul class="list">
                        <li class="listItems">Skill 1</li>
                        <li class="listItems">Skill 2</li>
                        <li class="listItems">Skill 3</li>
                        <li class="listItems">Skill 4</li>
                    </ul>
                </div>
                <div class="portExperiences">
                    <h1 class="sectionTittle">Experiences:</h1>
                    <ul class="list">
                        <li class="listItems">Experiences 1</li>
                        <li class="listItems">Experiences 2</li>
                        <li class="listItems">Experiences 3</li>
                        <li class="listItems">Experiences 4</li>
                    </ul>
                </div>
                <div class="portProjects">
                    <h1 class="sectionTittle">Projects:</h1>
                    <ul class="list">
                        <li class="listItems">Project 1</li>
                        <li class="listItems">Project 2</li>
                        <li class="listItems">Project 3</li>
                        <li class="listItems">Project 4</li>
                    </ul>
                </div>
            </div>
            
        </div>
    </main>
</body>
</html>